{% extends 'base.html' %}

{% block title %}Оформление | Aura Store{% endblock %}

{% block content %}
<main class="flex items-center justify-center py-20 bg-[#fafafc]">
    <div class="max-w-xl w-full bg-white p-12 rounded-[3rem] shadow-sm border border-gray-50">
        <h1 class="text-4xl font-extrabold text-center mb-10">Данные <span class="aura-text-gradient">доставки.</span></h1>
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            ...
            <button type="submit" class="w-full aura-gradient text-white py-5 rounded-full font-bold">
                Подтвердить заказ
            </button>
        </form>
    </div>
</main>
{% endblock %}