{% extends 'base.html' %}

{% block title %}Aura ID | Профиль{% endblock %}

{% block content %}
<main class="max-w-4xl mx-auto py-20 px-6">
    <div class="flex items-end justify-between mb-16">
        <h1 class="text-5xl font-extrabold tracking-tighter">Aura <span class="text-gray-300">ID.</span></h1>
        <div class="w-20 h-20 aura-gradient rounded-full flex items-center justify-center text-white text-3xl font-black">
            {{ user.username|first|upper }}
        </div>
    </div>
    ...
</main>
{% endblock %}